PocClient/Connected Services/ServiceReference2/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Poc2.domain" />
  <xs:element name="subscribe">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="subscribeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="receiveMsg">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Poc2.domain" minOccurs="0" name="data" nillable="true" type="q1:Data" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="receiveMsgResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getMsg">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getMsgResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Poc2.domain" minOccurs="0" name="getMsgResult" nillable="true" type="q2:Data" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnCallback">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Poc2.domain" minOccurs="0" name="data" nillable="true" type="q3:Data" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="send">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Poc2.domain" minOccurs="0" name="data" nillable="true" type="q4:Data" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sendResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>