UserInterface/Connected Services/ServiceReference1/Poc2.domain.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Poc2.domain" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Poc2.domain" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="Data">
    <xs:sequence>
      <xs:element minOccurs="0" name="ComTick" type="xs:long" />
      <xs:element minOccurs="0" name="CompositeData" nillable="true" type="tns:ArrayOfPartData" />
      <xs:element minOccurs="0" name="File" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="IsInit" type="xs:boolean" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="NameList" nillable="true" type="q1:ArrayOfstring" />
      <xs:element minOccurs="0" name="SoftwareVersion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TotalCount" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Data" nillable="true" type="tns:Data" />
  <xs:complexType name="ArrayOfPartData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PartData" nillable="true" type="tns:PartData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPartData" nillable="true" type="tns:ArrayOfPartData" />
  <xs:complexType name="PartData">
    <xs:sequence>
      <xs:element minOccurs="0" name="Area" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Length" type="xs:int" />
      <xs:element minOccurs="0" name="ProcTime" type="ser:duration" />
      <xs:element minOccurs="0" name="Status" type="xs:boolean" />
      <xs:element minOccurs="0" name="Width" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PartData" nillable="true" type="tns:PartData" />
</xs:schema>